# Application configurations
config.js

# Dependencies
node_modules/
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build directories and coverage
build/
app/build/
dist/
coverage/
.nyc_output

# Environment variables
.env
.env.test
.env.production

# ESLint cache
.eslintcache

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
app/config.js
